<div class="btn-group" dropdown>
  <button
    dropdownToggle
    type="button"
    class="btn btn-secondary btn-sm btn-sub-nav dropdown-toggle"
    aria-controls="dropdown-basic"
    [disabled]="searching$ | async"
  >
    {{ (index$ | async) ? (index$ | async).name : 'Select index' }} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let index of (indices$ | async)" role="menuitem" (click)="onSelect(index.id)">
      <a class="dropdown-item {{ (index$ | async).id == index.id ? 'active' : '' }}">{{
        index.name
      }}</a>
    </li>
  </ul>
</div>
