<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Workspaces</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" (click)="collapsed = !collapsed">
        <a
          class="nav-link dropdown-toggle"
          id="workspaces_dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Workpsaces
        </a>
        <div
          class="dropdown-menu {{ collapsed ? '' : 'show' }}"
          aria-labelledby="workspaces_dropdown"
        >
          <a class="dropdown-item">Default Workspace</a>
          <a class="dropdown-item">Personal Workpsace</a>
          <a class="dropdown-item">Client Workspace</a>
        </div>
      </li>
      <li class="nav-item" (click)="sidebarOpened ? closeNav() : openNav()">
        <a class="nav-link">Toggle sidebar</a>
      </li>
    </ul>
  </div>
</nav>
