/* You can add global styles to this file, and also import other style files */
.presentation,
.sidebar,
.main {
  height: 100%;
}

.sidebar {
  background-color: #cfcfcf;
  height: 100%;
  width: 40px;
  position: fixed;
  z-index: 1;
  top: 55;
  left: 0;
  //background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.main {
  transition: margin-left 0.5s;
  padding: 16px;
  margin-left: 40px;
}

.sub-navbar {
  background-color: #191a1b;
  height: 32px;
}

.sub-navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-nav-item {
  float: left;
  padding: 0.2rem 0.2rem;
}

.sub-nav-item a {
  display: block;
  padding: 0.1rem 0.5rem;
  font-size: 12px;
  text-decoration: none;
}

.sub-nav-item-field span {
  margin-right: 0.25rem;
  font-weight: 600;
  color: #fff;
}

.btn-sub-nav {
  padding: 0.1rem 0.3rem;
  font-size: 0.7rem;
  line-height: 1.1;
  border-radius: 0.1rem;
}
/* bootstrap overrides */

.navbar {
  padding: 0.15rem 0.75rem;
}

.navbar-brand {
  font-size: 1rem;
  font-weight: 600;
}

.nav-item,
.list-group-item,
.dropdown-item {
  cursor: pointer;
  padding: 0.1rem 0.5rem;
  font-size: 12px;
}

.list-group-item.header {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  color: #fff;
  cursor: default;
}

.dropdown-menu {
  padding: 0.2rem 0;
  font-size: 0.75rem;
}

.dropdown-menu-item {
  padding: 0.1rem 0.75rem;
}
