<div class="btn-group" dropdown>
  <button
    dropdownToggle
    type="button"
    class="btn btn-secondary btn-sm btn-sub-nav dropdown-toggle"
    aria-controls="dropdown-basic"
    [disabled]="searching$ | async"
  >
    {{ (period$ | async) ? (period$ | async).name : 'Select period' }} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let period of (periods$ | async)" role="menuitem" (click)="onSelect(period.id)">
      <a class="dropdown-item {{ (period$ | async).id == period.id ? 'active' : '' }}">{{
        period.name
      }}</a>
    </li>
  </ul>
</div>
